// mediabox101
// ==================================================/
@mixin mediabox101_theme() {
  .mediabox101 {
    background-color: #141416;
    color: #d5d5d5;

    .mediabox101_img-holder {
      border: 1px solid #000;
    }

    .mediabox101_media-right {
      background-color: #1c1d22;
    }

    .mediabox101_heading {
      background-color: #343437;
      color: #fff;
    }

    .mediabox101_extras {
      background-color: #2c2d32;

      span {
        color: #000;
      }
    }
  }
}
@include mediabox101_theme();

.mediabox101 {
  .mediabox101_img-holder {
    @extend %text--center;
    @extend %padd--4;
    
    > img {
      @extend %img--responsive;
    }
  }

  .mediabox101_heading {
    @extend %padd--4;
  }

  .mediabox101_media-right {
    @extend %padd--4;

    p {
      @extend %padd--4;
    }
  }

  .mediabox101_extras {
    @extend %padd--4;
    margin-top: 4px;

    span {
      float: right;
      margin-left: 4px;

      &:hover > .mediabox101_btn_svg {
        fill: #fff;
      }
    }
  }

  .mediabox101_btn_svg {
    @extend %display--inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .mediabox101 {
    .mediabox101_media-left {
      width: 30%;
      float: left;
    }

    .mediabox101_media-right {
      width: 70%;
      float: left;
    }
  }
}

// mediabox102       
// ==================================================/
@mixin mediabox102_theme() {
  .mediabox102 {
    background-color: #141416;
    color: #d5d5d5;

    .mediabox102_heading {
      background-color: #343437;
      color: #fff; 
    }

    .mediabox102_extras {
      background-color: #2c2d32;
    }

    span {
      color: #000;

      &:hover > .mediabox102_btn_svg {
        fill: #fff;
      }
    }
  }
}
@include mediabox102_theme();

.mediabox102 {
  .mediabox102_img-holder {
    @extend %text--center;

    > img {
      @extend %img--responsive;
    }
  }

  .mediabox102_heading {
    @extend %padd--4;
  }

  .mediabox102_media-right {
    @extend %padd--4;

    p {
      @extend %padd--4;
    }

    span {      
      margin-top: 6px;
    }
  }

  .mediabox102_extras {
    @extend %padd--4;

    p {
      @extend %display--inline-block;
    }

    span {      
      float: right;
      margin-right: 6px;
    }
  }

  .mediabox102_btn_svg {
    @extend %display--inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }
}  

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .mediabox102 {
    .mediabox102_media-left {
      width: 30%;
      float: left;
    }

    .mediabox102_media-right {
      width: 70%;
      float: left;
    }
  }
}